<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show admins</title>
    <link rel="shortcut icon" href="/static/img/icon.ico" th:href="@{/img/icon.ico}" type="image/x-icon">
</head>
<body>
<div>
<form name="formSelect" th:method="POST" th:action="@{/admin/add}">
    <label for="person">Выберите админа</label>
    <select th:object="${person}" th:field="*{id}" id="person">
        <option th:each="person : ${people}" th:value="${person.getId()}"
                th:text="${person.getUsername()}"></option>
    </select>

    <input type="submit" value="Назначить админа"/>
</form>
</div>
</body>
</html>