
.forms{
text-align: center;
padding-top: 200px;
}

.label{
background-color: #FFFFFF;
border: 2px solid #FFFFFF;
border-radius: 10px;
}

.txt-logo{
color: rgba(0,0,0,0.6);
text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
margin-left: 6%;
text-align: center;
text-decoration: none;
margin: 0;
padding-top: 100px;
font-size: 50px;
line-height: 56px;
color: #000;

}

.span-txt-logo{
background-color: #FFFFFF;
border: 6px solid #FFFFFF;
border-radius: 25px;
}

.label{
color: #FFFFFF;
}
